html
	head
		title= 'Child Orders'
		style
			include style.css
	body
		h1= 'Admin GUI - Child Order Tracking'
	table(class="gridtable")
		tr
			th Id
			th MasterId
			th OrderRefNumber
			th MobileNumber
			th OrderStatus
			th OMSOrderId
			th OMSOrderCreationDate
			th CreationDate
			th LastUpdateDate
			th Payload
		for child in childorders
			tr
				td= child.id
				td
					a(href='/masterorder?masterid=' + child.master_id)= child.master_id
				td= child.orderRefNumber
				td= child.mobileNumber
				td= child.orderStatus
				td= child.omsOrderId
				td= child.omsOrderCreationDate
				td= child.creationDate
				td= child.lastUpdateDate
				td= child.payload
